<% include head %>
  <h1><%= group.name %></h1>
  <h2>Works</h2>
  <ul>
    <% for (var w in group.works) { %>
      <% var work = group.works[w] %>
      <li><a href="/<%= group.name %>/<%= work.title %>"><%= work.title %></a></li>
    <% } %>
  </ul>
<% include foot %>
