[submodule "treebank-greek"]
	path = treebank-greek
	url = git://github.com/nkallen/treebank-greek.git
[submodule "util/src/main/javascript/sizzle"]
	path = util/src/main/javascript/sizzle
	url = https://github.com/jquery/sizzle.git
