[submodule "util/src/main/javascript/sizzle"]
	path = util/src/main/javascript/sizzle
	url = https://github.com/jquery/sizzle.git

[submodule "vendor/sizzle"]
	path = vendor/sizzle
	url = https://github.com/jquery/sizzle.git
