body {
  font-family: 'Cardo', serif;
  line-height: 25px;
}
.prototype {
  display: none;
}
.label {
  text-indent: 0;
}
.well.info-well {
  background-color: #dad5ca;
  border: inherit;
}
.text {
  margin-top: 55px;
}
.modal h3 .book {
  font-size: 50%;
}
.carousel-inner .item p {
  text-align: center;
}
.carousel-inner .item > p {
  font-size: 200%;
}
.highlight {
  margin: -1px -4px -2px;
  color: #e5e0d4;
  padding: 1px 4px 2px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  background-color: #999;
}
table td, table th {
  border: inherit !important;
}
@media (min-width: 980px) {
  .info-well {
    display: none;
  }
  .hidden-desktop {
    display: none;
  }
  div.line:hover a.line-number.has-commentary:not(.highlight) {
    padding: 0px 7px;
    cursor: pointer;
    border: 1px solid gray;
  }
  div.line:hover a.line-number:not(.highlight) {
    visibility: visible !important;
  }
  .navbar {
    padding-left: 40px !important;
  }
  .modal .modal-body {
    height: 400px;
  }
  .carousel {
    margin-top: 100px;
  }
  .carousel-inner .item {
    margin: 0 115px;
    height: 200px;
    overflow-y: scroll;
    width: 300px;
  }
}
@media (max-width: 979px) {
  .info-pane {
    display: none;
  }
  .hidden-phone {
    display: none;
  }
  body > .container, .row {
    width: 320px;
  }
  .span5 {
    width: 240px;
  }
  .span1 {
    width: 20px;
  }
  .navbar {
    padding-left: 10px !important;
  }
  .modal {
    width: 100%;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
  }
  .modal .modal-body {
    padding: 0;
  }
  .modal .modal-body table {
    width: auto !important;
  }
}
.info-pane {
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #dad5ca; 
  z-index: 1040;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
}
.info-pane .container {
  padding: 0px 25px 10px 25px;
  margin-left: 0;
  border-left: 1px solid lightgray;
}
ul.lexicon, ol.notes {
  display: none;
  list-style-type: none;
}
.info-pane li {
  list-style-type: lower-roman;
}
span.translation {
  font-weight: bold;
}
div.paragraph {
  margin-bottom: 15px;
}
div.line .row div.span1 {
  vertical-align: baseline;
  text-align: left;
  line-height: 20px !important;
}
div.line a.line-number {
  margin-left: 10px;
  font-size: 80%;
  padding: 1px 8px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  vertical-align: baseline;
  line-height: 20px;
  display: inline-block;
}
div.line a.line-number:not(.highlight) {
  visibility: hidden;
  color: gray;
}
div.line a.line-number.five {
  visibility: visible;
}
div.line .row .words {
  text-indent: -20px;
  margin-left: 40px;
}
div.line .row .words, div.line .row .span1 {
  position: relative;
}
a.vocabulary {
  cursor: pointer;
}
.edit {
  display: none;
}
.navbar {
  margin-left: 0;
  background-color: #e5e0d4;
  -mozilla-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.navbar-inner {
  background: inherit;
  border: none;
  -mozilla-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar input {
  margin-bottom: 0;
}
thead td.caption {
  font-variant: small-caps;
  text-align: center;
}
.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid gray;
}
.tooltip {
  z-index: 2000 !important;
}
.speaker {
  font-weight: bold;
  margin-left: 200px;
}