<html lang="en">
  <head>
    <title><%= name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="author" content="Nick Kallen" />
    <meta charset="utf-8" />
    <!-- link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css' -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type='text/css' href="/iliados.css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35516208-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#"><%= name.toUpperCase() %></a>
            <ul class="nav">
              <li>
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Book <%= book %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% for (var i = 1; i <= 24; i++) { %>
                      <li><a href="/<%= name %>/books/<%= i %>">Book <%= i %></a></li>
                    <% } %>
                  </ul>
                </div>
              </li>
              <li><a class="range"><input type="text" class="start input-mini" value="1" />..<input type="text" class="end input-mini" /></a></li>
              <li><a class="vocabulary">Vocabulary</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='text'>
        <%= text %>
        <section class='footer span5'>
          <p>Data provided by <a id="thanks" data-toggle="tooltip" href="http://www.perseus.tufts.edu/hopper/" title="With special thanks to: Alex Lessie, James C. D'Amico, Brian Livingston, Calliopi Dourou, C. Dan Earley, Connor Hayden, Daniel Lim Libatique, Francis Hartel, George Matthews, J. F. Gentile, Jennifer Adams, Jessica Nord, Jennifer Curtin, Mary Ebbott, Meg Luthin, Molly Miller, Michael Kinney, Jack Mitchell, Sam Zukoff, Scott J. Dube, Tovah Keynton, W. B. Dolan">Perseus</a> under the <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC License</a>.</p>
          <p>Designed and built by <a href="http://twitter.com/nk" target="_blank">@nk</a>.</p>
        </section>
      </div>
      <div class='info-pane'>
        <div class="container span5">
          <h4></h4>
          <h5></h5>
          <div class="content"></div>
        </div>
      </div>
      <div class='well info-well prototype'>
        <h4></h4>
        <h5></h5>
        <div class='content'></div>
      </div>
    </div>
    <%= lexicon %>
    <%= notes %>
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/iliados.js"></script>
    <div class="modal hide fade" id="vocabulary">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Vocabulary Frequency, <span class="book">Book <%= book %>, <span class="range"><span class="start"></span>-<span class="end"></span></span></h3>
      </div>
      <div class="modal-body">
        <table class="table table-border prototype">
        </table>
        <div id="vocabulary-practice" class="carousel slide hide">
          <div class="carousel-inner"></div>
          <a class="carousel-control left" href="#vocabulary-practice" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#vocabulary-practice" data-slide="next">&rsaquo;</a>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Practice Vocabulary</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  </body>
</html>
