<html lang="en">
  <head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="author" content="Nick Kallen" />
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type='text/css' href="/iliados.css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35516208-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style type="text/css">
      .info-well {
        display: block !important;
        position: absolute;
        top: 0 !important;
        left: 400px;
      }
      section {
        position: relative !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit ">
        <h1>Structural Search</h1>
        <p>Run a structural query against the treebank database.</p>
        <form class="form-search" action="/search">
          <div class="input-append">
            <input type="text" name="query" class="input-xxlarge search-query" value="<%= query %>" style="height: 30px">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
        <% if (error) { %>
          <div class="alert alert-error"><%= error %></div>
        <% } %>
        <% if (results.length > 0) { %>
          <div class="alert alert-success"><%= count %> results in <%= time %>ms.<% if (results.length > 100) { %> Displaying first 100.<% } %></div>
          <div class="row">
            <div class="span5">
              <div class="matches text" style="margin-top: 0">
                <% for (var i = 0; i < Math.min(results.length, 100); i++) { %>
                  <% var result = results[i] %>
                  <section class="sentence attributess card words">
                    <blockquote class="row">
                      <% for (j in results[i].nodes) { %>
                        <%
                          var word = result.nodes[j];
                          var attributes = word.attributes;
                        %>
                        <% if (result.matches[word.uuid()]) { print("<b>") } %>
                          <span data-lemma="<%= attributes.lemma %>" data-sentence-id="<%= attributes.sentenceId %>" data-id="<%= attributes.id %>" data-parent-id="<%= attributes.parentId %>" data-part-of-speech="<%= attributes.partOfSpeech %>" data-number="<%= attributes.number %>" data-gender="<%= attributes.gender %>" data-case="<%= attributes.case %>" data-relation="<%= attributes.relation %>" data-person="<%= attributes.person %>" data-tense="<%= attributes.tense %>" data-mood="<%= attributes.mood %>" data-voice="<%= attributes.voice %>"><%= attributes.form %></span>
                        <% if (result.matches[word.uuid()]) print("</b>") %>
                      <% } %>
                      <small><cite title="Source Title">Iliad x.y <a href="<%= results[i].uri %>"><%= result.text %><%= result.section %></a></cite></small>
                    </blockquote>
                  </section>
                <% } %>
              </div>
            </div>
          </div>
        <% } else if (query && !error) { %>
          <div class="alert">0 results</div>
        <% } %>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/iliados.js"></script>
    <div class='info-well span5 prototype'>
      <h4></h4>
      <h5></h5>
      <div class='content'></div>
    </div>
  </body>
</html>
