<%
  RESULTS_PER_PAGE = 20
  MAX_PAGES = 15

  var root2result = {}
  var count = 0
  for (var r in results) {
    var result = results[r]
    var matches = result.matches
    var text = result.text

    count += matches.length
    for (var m in matches) {
      var match = matches[m]
      var root = match
      while (root.parentNode)
        root = root.parentNode
      root.text = text
      var nodes = [root]
      var i = 0
      if (result = root2result[root.uuid()])
        result.matches[match.uuid()] = true
      else {
        while (nodes.length > i)
          nodes = nodes.concat(nodes[i++].children)
        nodes = nodes.sort(function (node1, node2) { return node1.attributes.id - node2.attributes.id })

        var line = []
        var lines = [line]
        var currentLineNumber = null
        for (var n in nodes) {
          var node = nodes[n]
          var lineNumber = node.attributes.line
          if (!currentLineNumber)
            currentLineNumber = lineNumber
          if (lineNumber != currentLineNumber) {
            lines.push(line = [])
            currentLineNumber = lineNumber
          }
          line.push(node)

          root2result[root.uuid()] = {
            lines: lines,
            matches: {},
            root: root
          }
        }
        root2result[root.uuid()].matches[match.uuid()] = true
      }
    }
  }

  var results = []
  for (var r in root2result)
    results.push(root2result[r])
  var items = results.length
  results = results.slice(page * RESULTS_PER_PAGE, page * RESULTS_PER_PAGE + RESULTS_PER_PAGE + 1)
%>
<html lang="en">
  <head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="author" content="Nick Kallen" />
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type='text/css' href="/iliados.css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35516208-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style type="text/css">
      .info-well {
        display: block !important;
        position: absolute;
        top: 0 !important;
        left: 400px;
      }
      section {
        position: relative !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit ">
        <h1>Structural Search</h1>
        <p>Run a structural query against the treebank database.</p>
        <form class="form-search" action="/search">
          <div class="input-append">
            <input type="text" name="query" class="input-xxlarge search-query" value="<%= query %>" style="height: 30px">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
        <% if (error) { %>
          <div class="alert alert-error"><%= error %></div>
        <% } %>
        <% if (results.length > 0) { %>
          <div class="alert alert-success">
            <%= count %> results in <%= time %>ms.
          </div>
          <div class="row">
            <div class="span5">
              <div class="matches text" style="margin-top: 0">
                <% for (var i = 0; i < results.length; i++) { %>
                  <% var result = results[i] %>
                  <section class="sentence attributes paragraph words">
                    <blockquote class="row">
                      <% for (j in result.lines) { %>
                        <% var line = result.lines[j] %>
                        <% for (k in line) { %>
                          <%
                            var word = line[k];
                            var attributes = word.attributes;
                          %>
                          <% if (result.matches[word.uuid()]) { print("<b>") } %>
                            <span data-lemma="<%= attributes.lemma %>" data-sentence-id="<%= attributes.sentenceId %>" data-id="<%= attributes.id %>" data-parent-id="<%= attributes.parentId %>" data-part-of-speech="<%= attributes.partOfSpeech %>" data-number="<%= attributes.number %>" data-gender="<%= attributes.gender %>" data-case="<%= attributes.case %>" data-relation="<%= attributes.relation %>" data-person="<%= attributes.person %>" data-tense="<%= attributes.tense %>" data-mood="<%= attributes.mood %>" data-voice="<%= attributes.voice %>"><%= attributes.form %></span>
                          <% if (result.matches[word.uuid()]) print("</b>") %>
                        <% } %>
                        <br />
                      <% } %>
                      <small><cite title="#{result.root.text}"><a href="/<%= result.root.text %>/books/<%= result.root.attributes.book %>"><%= result.root.text %> <%= result.root.attributes.book %>.<%= result.lines[0][0].attributes.line %>-<%= result.lines[result.lines.length-1][0].attributes.line %></a></cite></small>
                    </blockquote>
                  </section>
                <% } %>
              </div>
            </div>
          </div>
          <div class="pagination">
            <ul>
              <li <% if (page == 0) print('class="disabled"') %>><a href="/search?query=<%= (query) %>&page=0">&laquo;</a></li>
              <% for (var i = 0; i < Math.min(items / RESULTS_PER_PAGE, MAX_PAGES ); i++) { %>
                <li <% if (page == i) print('class="active"') %>><a href="/search?query=<%= (query) %>&page=<%= i %>"><%= i + 1 %></a></li>
              <% } %>
              <li <% if (page >= items / RESULTS_PER_PAGE - 1) print('class="disabled"') %>><a href="/search?query=<%= (query) %>&page=<%= page + 1 %>" >&raquo;</a></li>
            </ul>
          </div>
        <% } else if (query && !error) { %>
          <div class="alert">0 results</div>
        <% } %>
      </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/iliados.js"></script>
    <div class='info-well span5 prototype'>
      <h4></h4>
      <h5></h5>
      <h6></h6>
      <div class='content'></div>
    </div>
  </body>
</html>
